<section data-ng-controller="HomeController">
	<h3></h3>
	<ul class="nav nav-pills ">
		<li role="presentation" class="clickable" ng-repeat="item in menu" ng-class="{active:state.viewType==item.id}" ng-click="gotoState(item)"><a>{{item.label}} <span class="badge" ng-show="item.badge">{{item.badge}}</span></a></li>

		<div class="btn-group pull-right">
			<label class="btn btn-default"  ng-model="view.mode"  btn-radio="'list'" ><span class="glyphicon glyphicon-th-list"></span></label>
			<label class="btn btn-default" ng-model="view.mode"  btn-radio="'map'" ><span class="glyphicon glyphicon-map-marker"></span></label>
		</div>
	</ul>

	<div ng-include="'modules/core/views/contents/'+state.viewType+'.html'"></div>
</section>
