
$notifWidth:80px;

// keyframes mixin
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}


@mixin _amination($durin,$durout, $easein, $easeout) {

  &.ng-enter, &.ng-move {
    -webkit-transition: $durin $easein all;
    -moz-transition: $durin $easein all;
    -o-transition: $durin $easein all;
    transition: $durin $easein all;
    @include transform(translate(0px, -$notifWidth - 20px));
    z-index: 99;
    opacity:0;
  }

  &.ng-enter.ng-enter-active,
  &.ng-move.ng-move-active {
    @include transform(translate(0px, -20px));
    opacity:1;
  }

  &.ng-leave, &.ng-hide-remove {
    -webkit-transition: $durout $easeout all;
    -moz-transition: $durout $easeout all;
    -o-transition: $durout $easeout all;
    transition: $durout $easeout all;
    z-index: 9;
    @include transform(translate(0px, -$notifWidth - 20px));
    opacity:1;
    display: block ;
  }

  &.ng-leave.ng-leave-active, &.ng-hide-remove.ng-hide-remove-active{
    @include transform(translate(0px, -$notifWidth*2 - 20px));
    opacity:0;

  }

}

.notif{
  display: block;
  color:white;
  z-index:999;
  padding: 35px 10px 10px 10px;
  text-align:center;
  width:100%;
  height:$notifWidth;

  &.hidded{
    display: none;
  }

  @include transform(translate(0px, -20px));

  @include _amination(0.5s, 0.3s, cubic-bezier(0.175, 0.885, 0.32, 1.275), cubic-bezier(0.895, 0.03, 0.685, 0.22));

  &.error{
    background-color: #e74c3c;
  }
  &.log{
    background-color: #2c3e50;
  }
  &.success{
    background-color: #3498db;
  }

}

@mixin angular-animate-hide($duration,$property,$easing,$min-val,$max-val){
  transition :$duration $property $easing;
  &.ng-hide-add,&.ng-hide-remove{
    display: block !important;
    #{$property}: $min-val;
  }
  &.ng-hide-remove.ng-hide-remove-active{
    #{$property}: $max-val;
  }
  &.ng-hide-add{
    #{$property}: $max-val;
  }
  &.ng-hide-add.ng-hide-add-active {
    #{$property}: $min-val;
  }
}



