.notif {
  display: block;
  color: white;
  z-index: 999;
  padding: 35px 10px 10px 10px;
  text-align: center;
  width: 100%;
  height: 80px;
  -moz-transform: translate(0px, -20px);
  -o-transform: translate(0px, -20px);
  -ms-transform: translate(0px, -20px);
  -webkit-transform: translate(0px, -20px);
  transform: translate(0px, -20px); }
  .notif.hidded {
    display: none; }
  .notif.ng-enter, .notif.ng-move {
    -webkit-transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
    -moz-transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
    -o-transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
    -moz-transform: translate(0px, -100px);
    -o-transform: translate(0px, -100px);
    -ms-transform: translate(0px, -100px);
    -webkit-transform: translate(0px, -100px);
    transform: translate(0px, -100px);
    z-index: 99;
    opacity: 0; }
  .notif.ng-enter.ng-enter-active, .notif.ng-move.ng-move-active {
    -moz-transform: translate(0px, -20px);
    -o-transform: translate(0px, -20px);
    -ms-transform: translate(0px, -20px);
    -webkit-transform: translate(0px, -20px);
    transform: translate(0px, -20px);
    opacity: 1; }
  .notif.ng-leave, .notif.ng-hide-remove {
    -webkit-transition: 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22) all;
    -moz-transition: 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22) all;
    -o-transition: 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22) all;
    transition: 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22) all;
    z-index: 9;
    -moz-transform: translate(0px, -100px);
    -o-transform: translate(0px, -100px);
    -ms-transform: translate(0px, -100px);
    -webkit-transform: translate(0px, -100px);
    transform: translate(0px, -100px);
    opacity: 1;
    display: block; }
  .notif.ng-leave.ng-leave-active, .notif.ng-hide-remove.ng-hide-remove-active {
    -moz-transform: translate(0px, -180px);
    -o-transform: translate(0px, -180px);
    -ms-transform: translate(0px, -180px);
    -webkit-transform: translate(0px, -180px);
    transform: translate(0px, -180px);
    opacity: 0; }
  .notif.error {
    background-color: #e74c3c; }
  .notif.log {
    background-color: #2c3e50; }
  .notif.success {
    background-color: #3498db; }
