<div class="modal-header">
    <h3 class="modal-title">Добавить паркинг</h3>
</div>
<div class="modal-body">

    <form class="form-horizontal" role="form">

        <div class="form-group">
            <label for="pid" class="col-sm-3 control-label">_ID:</label>
            <div class="col-sm-9">
                <input  class="form-control" id="pid" placeholder="Уникальный номер" ng-model="data._id">

            </div>
        </div>


        <div class="form-group">
            <label for="address" class="col-sm-3 control-label">Адрес:</label>
            <div class="col-sm-9">
                <input  class="form-control" id="address" placeholder="Адрес парковки" ng-model="data.address">
            </div>
        </div>


        <div class="form-group">
            <label for="count" class="col-sm-3 control-label">Машиномест:</label>
            <div class="col-sm-9">
                <input class="form-control" id="count" placeholder="Кол-во машиномест" ng-model="data.count">
            </div>
        </div>


        <div class="form-group">
            <label for="description" class="col-sm-3 control-label">Описание:</label>
            <div class="col-sm-9">
                <input  class="form-control" id="description" placeholder="Описание" ng-model="data.description">
            </div>
        </div>


        <!--<div class="form-group">-->
            <!--<div class="col-sm-offset-2 col-sm-10">-->
                <!--<div class="checkbox">-->
                    <!--<label>-->
                        <!--<input type="checkbox"> Remember me-->
                    <!--</label>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </form>

</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Отмена</button>
    <button class="btn btn-primary" ng-click="ok()">Добавить</button>

</div>

