<div class="modal-header">
    <h3 class="modal-title">Добавить датчик</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" role="form">

        <div class="form-group">
            <label for="pid" class="col-sm-3 control-label">ID:</label>
            <div class="col-sm-9">
                <input  class="form-control" id="pid" placeholder="Уникальный номер" ng-model="data._id">
            </div>
        </div>

        <div class="form-group">
            <label for="bid" class="col-sm-3 control-label">BaseID:</label>
            <div class="col-sm-9">
                <input  class="form-control" id="bid" placeholder="Уникальный номер базы" ng-model="data.base_id">
            </div>
        </div>

        <div class="form-group">
            <label for="pid" class="col-sm-3 control-label">Парковка:</label>
            <div class="col-sm-9">

                <ui-select ng-model="data.parking_id" on-select="onSelect($item, $model)" theme="bootstrap" ng-disabled="parkings.length==0" style="min-width: 300px;" ng-required="true">
                    <ui-select-match placeholder="Введите адрес или ID">[ {{$select.selected._id}} ] {{$select.selected.address}}</ui-select-match>
                    <ui-select-choices repeat="parking._id as parking in parkings | propsFilter: {address: $select.search, _id: $select.search}">
                        <div ng-bind-html="'[ '+(parking._id | highlight: $select.search)+' ] '+ parking.address | highlight: $select.search"></div>
                        <small>Мест: {{parking.spaces.total}} <span>{{parking.description}}</span></small>
                    </ui-select-choices>
                </ui-select>

            </div>
        </div>

        <!--<div class="form-group">-->
            <!--<label for="pid" class="col-sm-3 control-label">Батарея:</label>-->
            <!--<div class="col-sm-9">-->
                <!--<select class="form-control" name="" id=""  ng-model="data.battery">-->
                    <!--<option value="0"> >80% </option>-->
                    <!--<option value="1"> <20% </option>-->
                    <!--<option value="2"> <5% </option>-->
                <!--</select>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label for="pid" class="col-sm-3 control-label">Статус:</label>-->
            <!--<div class="col-sm-9">-->
                <!--<div class="btn-group">-->
                    <!--<label class="btn btn-primary" ng-model="data.status" btn-radio="0">Свободно</label>-->
                    <!--<label class="btn btn-primary" ng-model="data.status" btn-radio="1">Занято</label>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Отмена</button>
    <button class="btn btn-primary" ng-click="ok()">Добавить</button>

</div>

