<div ng-controller="BoardViewController">
    <h3></h3>
    <div class="clearfix">
    <button class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus"></span> Добавить доску</button>
    </div>
</div>
