<div ng-controller="ParkingViewController">
    <h3></h3>
    <div class="clearfix">
        <button class="btn btn-primary pull-right" ng-disabled="refreshInProgress" ng-click="refreshParkings()"><span class="glyphicon glyphicon-refresh"></span> Проверить обновление паркинг-листа</button>
    </div>

    <table ng-table="tableParams" class="table">
        <tr ng-repeat="parking in $data">


            <td data-title="'ID'">
                {{parking._id}}
            </td>
            <td data-title="'ADDRESS'" >
                {{parking.address}}
            </td>
        </tr>
    </table>
</div>
