<div ng-controller="SensorViewController">
    <h3></h3>
    <h3></h3>
    <br>

    <div class="row">
        <div class="col-xs-10">
            <input type="text" class="form-control" placeholder="Начните вводить ID датчика" ng-model="sensorsearch">
        </div>
        <div class="col-xs-2">
            <button class="btn btn-default btn-block" ng-click="openAddSensor()"><span class="glyphicon glyphicon-plus"></span> Добавить датчик</button>
        </div>
    </div>

    <!--<table ng-table="tableParams" class="table">-->
        <!--<tr ng-repeat="sensor in $data">-->
            <!--<td data-title="''" sortable="'status'">-->
                <!--<span class="glyphicon"-->
                      <!--ng-class="{-->
                        <!--'glyphicon-remove-circle':sensor.status==1,-->
                        <!--'lyphicon glyphicon-ok-circle':sensor.status==0-->
                        <!--}">-->

                <!--</span>-->
            <!--</td>-->
            <!--<td data-title="''" sortable="'battery'">-->
                <!--<span class="fi" ng-class="{-->
                <!--'fi-battery-empty':sensor.battery==2,-->
                <!--'fi-battery-half':sensor.battery==1,-->
                <!--'fi-battery-full':sensor.battery==0-->

                <!--}"></span>-->
            <!--</td>-->
            <!--<td data-title="'ID'" sortable="'_id'">-->
                <!--{{sensor._id}}-->
            <!--</td>-->

            <!--<td data-title="'LS'" sortable="'last_sync'">-->
                <!--<span am-time-ago="sensor.last_sync"></span>-->

            <!--</td>-->

        <!--</tr>-->
    <!--</table>-->



    <table ng-table="tableParams" class="table">
        <tbody ng-repeat="group in $groups">
        <tr class="ng-table-group">
            <td colspan="{{$columns.length}}">
                <a href="" ng-click="group.$hideRows = !group.$hideRows">
                    <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
                    <strong>{{ group.value }}</strong>
                </a>
            </td>
        </tr>
        <tr ng-hide="group.$hideRows" ng-repeat="sensor in group.data">
            <td data-title="''" sortable="'status'">
            <span class="glyphicon"
            ng-class="{
            'glyphicon-remove-circle':sensor.status==1,
            'lyphicon glyphicon-ok-circle':sensor.status==0
            }">

            </span>
            </td>
            <td data-title="''" sortable="'battery'">
            <span class="fi" ng-class="{
            'fi-battery-empty':sensor.battery==2,
            'fi-battery-half':sensor.battery==1,
            'fi-battery-full':sensor.battery==0

            }"></span>
            </td>
            <td data-title="'ID'" sortable="'_id'">
            {{sensor._id}}
            </td>

            <td data-title="'LS'" sortable="'last_sync'">
            <span am-time-ago="sensor.last_sync"></span>

            </td>
        </tr>
        </tbody>
    </table>


</div>
